@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
	--black: #000000;
	--white: #ffffff;
	--muted-blue: #6c8ea3;
	--pitch-dark-blue: #202a30;
	--sky-blue: #bee8ff;
	--deep-blue: #438db5;
	--muted-text: #999999;
	--muted-text-2: #cccccc;
	--muted-text-3: #595959;
	--muted-text-4: #808080;
  }
}

@font-face {
  font-family: "General Sans"; /* Match this to the font family name in Tailwind's config */
  src: url('/fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400; /* Adjust based on font weight */
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url('/fonts/GeneralSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* .theme-dark {
	--black: #000000;
	--white: #ffffff;
	--muted-blue: #6C8EA3;
	--pitch-dark-blue: #202A30;
	--sky-blue: #BEE8FF;
	--deep-blue: #438DB5;
	--muted-text: #999999;
	--muted-text-2: #CCCCCC;
	--muted-text-3: #595959;
	--muted-text-4: #808080;
	@apply transition-colors duration-500 ease-in-out;
}

.theme-light {
	--black: #ffffff;
	--white: #000000;
	--muted-blue: #6C8EA3;
	--pitch-dark-blue: #202A30;
	--sky-blue: #BEE8FF;
	--deep-blue: #438DB5;
	--muted-text: #999999;
	--muted-text-2: #CCCCCC;
	--muted-text-3: #595959;
	--muted-text-4: #808080;
	@apply transition-colors duration-500 ease-in-out;
} */

body {
  font-family: "General Sans", sans-serif;
  height: 100vh;
}

@layer components {
  .center-center {
	@apply flex justify-center items-center;
  }
  .tpk-contained {
	@apply max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto p-4;
  }
}
